@media only screen and (max-width: 748px) {
  .navbar {
    position: relative;
  }
  .navbar .menu-bar {
    display: block;
    grid-column: 8 / 9;
    font-size: 1.5em;
    cursor: pointer;
  }
  .navbar .menu {
    position: absolute;
    width: 100%;
    height: 80vh;
    display: none;
  }
 
  .hero_img {
  grid-column: 1 / 13;
  grid-row: 1 / 9;
  height: 80vh;
  max-width: 100%;
  background-color: #000000;
  padding: 50px 50px 0 50px;
  align-items: center;
}
.hero_title {
  z-index: 999;
  width: 100%;
  grid-column: 2 / 13;
  grid-row: 5 / 9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  color:#fff;
}
.hero_title .hero_text p {
  color:#fff;
}
h1 {
  font-family: Raleway, sans-serif;
  font-size: 44px;
  line-height: 1em;
  font-weight: 900;
}

#repos_template {
display: grid;
grid-template-columns: 1fr 1fr;
gap: 10px;
padding: 10px;
}

}