@media only screen and (max-width: 748px) {
  .navbar {
    position: relative;
  }
  .navbar .menu-bar {
    display: block;
    grid-column: 8 / 9;
    font-size: 1.5em;
    cursor: pointer;
  }
  .navbar .menu {
    position: absolute;
    width: 100%;
    height: 80vh;
    display: none;
  }
  .hero_img {
  grid-column: 1 / 13;
  grid-row: 1 / 9;
  height: 100%;
  max-width: 100%;
  background-color: #000000;
  padding: 50px 50px 0 50px;
  align-items: center;
}
.hero_title {
  z-index: 999;
  width: 100%;
  grid-column: 2 / 13;
  grid-row: 5 / 9;
  display: flex;
  flex-direction: column;
  flex-wrap: wrap;
  gap: 15px;
  color:#fff;
}
.hero_title .hero_text p {
  color:#fff;
}
h1 {
  font-family: Raleway, sans-serif;
  font-size: 44px;
  line-height: 1em;
  font-weight: 900;
}
  /* .hero {
     position: relative;
     height: 100vh;
     max-width: 100%;
     background-color: #c4c4c4;
     display: grid;
     grid-template-areas:
     "hero_img"
     "hero_title";
    
  }

.hero_img {
   grid-area: hero_img;
   width: 100%;
   height: 100%;
   margin:0 auto;

}
.hero .hero_img .img_hc {
   max-width: 600px;
   height: 460px;
   margin-bottom: 0;
   
}
.hero_title {
   grid-area: hero_title;
   font-size: 37px;
} */

}