* {
  margin: 0;
  padding: 0;
  box-sizing: border-box;
}

html {
  font-family: 'Open Sans', sans-serif;
  font-size: 16px;
  font-weight: 400;
  color: #000000;
}
h1 {
  font-family: Raleway, sans-serif;
  font-size: 64px;
  font-weight: 900;
}

body {
  height: 100vh;
  max-width: 100%;
}
.navbar {
  display: grid;
  grid-template-columns: repeat(8, 1fr);
  background: transparent;
  height: 100px;
  width: 100%;
}
.navbar .menu {
   grid-column: 4 / 8;
  display: flex;
  align-items: center;
  list-style: none;
  justify-content: space-around;
}
.menu a  {
   text-decoration: none;
   color:#000; 
}

.avatar {
  grid-column: 2 / 3;
  position: relative;
  height: 60px;
  width: 60px;
  margin: auto;
}
.logo {
  height: 100%;
  width: 100%;
  display: flex;
  align-items: center;
  justify-content: center;
  border-radius: 50%;
  overflow: hidden;
  border: 2px solid rgba(233, 186, 54, 0.5);
}

.logo:hover {
  -webkit-box-shadow: 5px 5px 15px 5px #e9ba36;
  box-shadow: 0px 2px 25px 2px #e9ba36;
}

.logo_imagen {
  object-fit: cover;
  height: 100%;
  width: 100%;
}

.hero {
   height: 1022px;
   width: 100%;
   background-color: #c4c4c4;
   grid-template-columns: repeat(10, 1fr);
}

